<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <button mat-button routerLink="/accueil">Parc d'attraction</button>
    </span>

    <span class="toolbar-right">
      <!-- Affichage conditionnel en fonction de l'état de connexion -->
      <div *ngIf="authService.isAuthenticated(); else loginButton">
        <button mat-stroked-button routerLink="/admin">⚙️ Administration</button>
        <button mat-stroked-button (click)="logout()">🚪 Déconnexion</button>
      </div>

      <ng-template #loginButton>
        <button mat-stroked-button routerLink="/login">🔑 Connexion</button>
      </ng-template>

      <!-- Sélecteur de langue -->
      <div class="language-selector">
        <label for="language-select">Langue :</label>
        <select id="language-select" (change)="changeLanguage($event)">
          <option value="fr">Français</option>
          <option value="en">English</option>
        </select>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <h1>{{ 'welcome_message' | translate }}</h1>
  <router-outlet></router-outlet>
</main>
