<mat-toolbar color="primary">
  <span>
    <button mat-button routerLink="/accueil">Parc d'attraction</button>
  </span>

  <div class="toolbar-right">
    <div *ngIf="authService.isAuthenticated">
      <button mat-stroked-button (click)="logout()">Déconnexion</button>
    </div>

    <div class="language-selector">
      <label for="language-select">Langue :</label>
      <select id="language-select" (change)="switchLang(getLangValue($event))">
        <option value="fr">Français</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
</mat-toolbar>

<main>
  <h1>{{ 'welcome_message' | translate }}</h1>
  <router-outlet></router-outlet>
</main>
